[submodule "user_service"]
	path = user_service
	url = https://github.com/avfedorenko/user_service.git
[submodule "post_service"]
	path = post_service
	url = https://github.com/avfedorenko/post_service.git
[submodule "project_service"]
	path = project_service
	url = https://github.com/avfedorenko/project_service.git
[submodule "account_service"]
	path = account_service
	url = https://github.com/avfedorenko/account_service.git
[submodule "payment_service"]
	path = payment_service
	url = https://github.com/avfedorenko/payment_service.git
[submodule "notification_service"]
	path = notification_service
	url = https://github.com/avfedorenko/notification_service.git
[submodule "analytics_service"]
	path = analytics_service
	url = https://github.com/avfedorenko/analytics_service.git
[submodule "achievement_service"]
	path = achievement_service
	url = https://github.com/avfedorenko/achievement_service.git
[submodule "infra"]
	path = infra
	url = https://github.com/avfedorenko/infra.git
[submodule "url_shortener_service"]
	path = url_shortener_service
	url = https://github.com/avfedorenko/url_shortener_service
